<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-12">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="card-body p-md-5 mx-md-4">
                  <div class="card bg-light mb-3" style="max-width: 180rem;">
                    <div class="card-header">Space To Add A New Job</div>
                    <div class="card-body">
                      <p class="card-text"> - Please follow the prescribed method in order to avoid any problem <button type="submit" class="btn btn-info w-25" (click)="AddJob()">Add New Job</button></p>         
                    </div>
                    
                  </div>

                  <!-- <div class="card bg-light mb-3" style="max-width: 180rem;">
                    <div class="card-header">Space To Delete A Job</div>
                    <div class="card-body">
                      <p class="card-text"> - Please follow the prescribed method in order to avoid any problem <button type="submit" class="btn btn-info w-25">Delete Job</button></p>         
                    </div>
                  </div> -->

                  <div class="card bg-light mb-3" style="max-width: 180rem;">
                    <div class="card-header">Space To View My Jobs</div>
                    <div class="card-body">
                      <p class="card-text"> - Please follow the prescribed method in order to avoid any problem <button type="submit" class="btn btn-info w-25">See My Jobs</button></p>         
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>